@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.App{
    display: flex;
    background-image: url('./assets/garden.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}